* {
    margin: 0;
    padding: 0;
}

.contaner {
    height: 100vh;
    width: 100vw;
    background: #65b1c5;
    background: linear-gradient(146deg, #65b1c5 20%, #7acfd5 10%, #a8dcdb 10%, #80b2b9 20%, #afd2dc 60%, #91bcc3 10%);
    background: -webkit-linear-gradient(146deg, #65b1c5 20%, #7acfd5 10%, #a8dcdb 10%, #80b2b9 20%, #afd2dc 60%, #91bcc3 10%);
    background: -moz-linear-gradient(146deg, #65b1c5 20%, #7acfd5 10%, #a8dcdb 10%, #80b2b9 20%, #afd2dc 60%, #91bcc3 10%);
    display: flex;
    justify-content: center;
    align-items: center;


}

.main {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
    min-width: 40vw;
    border-radius: 20px;
    box-shadow: -27px 19px 34px -14px rgba(6, 25, 28, 1) inset;
    -webkit-box-shadow: -27px 19px 34px -14px rgba(6, 25, 28, 1) inset;
    -moz-box-shadow: -27px 19px 34px -14px rgba(6, 25, 28, 1) inset;
    background: #00e4b5;
    background: linear-gradient(152deg, #00e4b5 10%, #29cd35 10%, #14657c 10%, #20d084 10%, #177f9a 70%, #a8ecf6 5%);
    background: -webkit-linear-gradient(152deg, #00e4b5 10%, #29cd35 10%, #14657c 10%, #20d084 10%, #177f9a 70%, #a8ecf6 5%);
    background: -moz-linear-gradient(152deg, #00e4b5 10%, #29cd35 10%, #14657c 10%, #20d084 10%, #177f9a 70%, #a8ecf6 5%);
}

#result {
    transition-duration: .7s;
    margin-top: 10px;
    height: 45vh;
    max-width: 100%;
    padding: 0px 40px;
    min-width: 20%;
    overflow: hidden;
    box-shadow: -20px 19px 34px -14px rgba(6, 25, 28, 1);
    -webkit-box-shadow: -20px 19px 24px -14px rgba(6, 25, 28, 1);
    -moz-box-shadow: -20px 19px 30px -14px rgba(6, 25, 28, 1);
    border-radius: 15px;
    background: #a1eec4;
    background: linear-gradient(146deg, #9edfbb 5%, #b7ecb7 25%, #ccc8f5 14%, #b4b4f5 50%, #b9e7a8 60%, #fff4e1 500%);
    background: -webkit-linear-gradient(146deg, #b9eed1 5%, #aec2ae 25%, #ebeaf6 14%, #eaeaf1 50%, #bbf3a7 60%, #e7ddca 500%);
    background: -moz-linear-gradient(146deg, #afe7c8 5%, #bcecbc 25%, #c6c2f0 14%, #cfcffc 50%, #b3e2a1 60%, #e4e0d9 500%);
}

.daba {
    height: 45px;
    width: 150px;
    border: none;
    font-size: 17px;
    font-weight: 800;
    color: #1d3d2d;
    border-radius: 10px;
    border: 2px solid #00e4b5;
    background: linear-gradient(152deg, #00e4b5 10%, #29cd35 10%, #14657c 10%, #20d084 10%, #177f9a 70%, #a8ecf6 5%);
    background: -webkit-linear-gradient(152deg, #00e4b5 10%, #29cd35 10%, #14657c 10%, #20d084 10%, #177f9a 70%, #a8ecf6 5%);
    background: -moz-linear-gradient(152deg, #00e4b5 10%, #29cd35 10%, #14657c 10%, #20d084 10%, #177f9a 70%, #a8ecf6 5%);
transition-duration: 1s;
}
button{
    animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

@keyframes example {
    0%   {
        color: #16b4dc;
        
        rotate: 0deg; 
        height: 60vh;
        width: 50vw;
    }
    25%  {scale: 1;
        color: #15f597;
        rotate: 120deg;
        height: 30vh;
        width: 40vw;
    }
    50%  {scale: .2;
        color: #000000;
        rotate: 240deg;
        height: 20vh;
        width: 30vw;
       
    
    }

    100% {scale: 1;color: 
        #d3e0d2;
        rotate: 360deg;
        
    }
    
  }
button:hover{
    scale: 1.099;
    color: white;
    rotate: 360deg;
}
h3 {
    font-size: 15px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-shadow: 7px 1px 5px rgba(0, 0, 0, 0.65);
    color: #013121;
}

.java {

    font-size: 10px;

    /* overflow: hidden; */
    padding: 2px;
    min-width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #f1ffef;
    text-shadow: 6px 3px 3px rgba(0, 0, 0, 0.6);
    background-color: #166d76;
    background: linear-gradient(136deg, #166d76 20%, #16b4dc 25%, #0f833b 35%, #095b5d 45%, #109d50 115%, #209f20 500%);
    background: -webkit-linear-gradient(136deg, #166d76 20%, #16b4dc 25%, #0f833b 35%, #095b5d 45%, #109d50 115%, #209f20 500%);
    background: -moz-linear-gradient(136deg, #166d76 20%, #16b4dc 25%, #0f833b 35%, #095b5d 45%, #109d50 115%, #209f20 500%);
    ;

}

#result:hover{
    overflow: auto;

}

@media screen and (max-width: 650px) {
    .main {
        height: 90vh;
        width: 80vw;
    }

    .java {
        font-size: 10px;
        min-width: 100%;
        padding: 2;
        display: flex;
        justify-content: center;
        margin: 5;
    }

    #result {
        overflow: auto;
        min-width: 40%;
        /* padding-left: 10px; */
        margin-left: 5px;

    }
}